body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background:transparent;
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 10px #ffffff(0,0,0,0.1);
    
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20%;
  }